body{
    background: #f4f6f6;


}

.ordenar {
    float:left;
    margin-left:5px;
    margin-top:5px;
    position:fixed;
    top:20%;
    left:30%;

}

.btn {background-color: #e7e7e7; color: black;} /* Gray */
.btn:hover {background: #ddd;}
