

/* Add gap to nav and right windows.*/
/*
.main{
padding: 10px 10px 0 10px;
}
*/
/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/


/*Center Icons*/
/*
nav.sidebar a{
  padding-right: 13px;
}
*/
#secretaria{
  padding-right: 200px;
}


/*adds border top to first nav box */
nav.sidebar .navbar-nav > li:first-child{
  border-top: 1px #e5e5e5 solid;
}

/*adds border to bottom nav boxes*/
nav.sidebar .navbar-nav > li{
  border-bottom: 1px #e5e5e5 solid;
}

/* Colors/style dropdown box*/
nav.sidebar .navbar-nav .open .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*allows nav box to use 100% width*/
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
  padding: 0 0px 0 0px;
}

/*colors dropdown box text */
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #ccc;

}


/*give sidebar 100% width;*/
nav.sidebar li {
  width: 100%;
}

/* Move nav to full on mouse over*/
nav.sidebar:hover{
  margin-left: 0px;
}
/*for hiden things when navbar hidden*/
.forAnimate{
  opacity: 0;
}




nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
color: red;
background-color: transparent;
}

nav:hover .forAnimate{
opacity: 1;
}
section{
padding-left: 1px;
background-color: red;
}
