<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Secretaria</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/estilo.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" type="text/css" href="modal.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>
    <body>

    <center>
        <div id="inicio-ocultar">
            <iframe src="../../inicio/inicio.html" frameborder="0" allowfullscreen=""></iframe>
            <div>
                </center>
                <div id="ayuda-ocultar">
                    <iframe src="../../ayuda/ayuda.html" frameborder="0" allowfullscreen=""></iframe>
                </div>

                <div id="nosotros-ocultar">
                    <iframe src="../../nosotros/nosotros.html" frameborder="0" allowfullscreen=""></iframe>
                </div>




                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Autobuses el poblado</a>
                        </div>
                        <ul class="nav navbar-nav">

                            <li><a id="inicio">Inicio</a></li>
                            <li><a id="nosotros">Nosotros</a></li>
                            <li><a id="ayuda">Ayuda</a></li>
                            <li><a onclick="openNav()">Modulos </a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a><span class="glyphicon glyphicon-user"></span> Secretaria</a></li>
                            <li><a href="../../entrar/login.html"><span class="glyphicon glyphicon-log-in"></span> Cerrar</a></li>
                        </ul>
                    </div>
                </nav>
                <center>
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="../../../images/imagen2.jpg" style="width: 180px;" alt=""><br><br><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span></a>

                        <section>
                            <nav class="navbar navbar-inverse sidebar" role="navigation" >
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#">A.P.L</a>
                                    </div>
                                    <!-- Conductor -->
                                    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conductor <span class="caret"></span><span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                                                <ul class="dropdown-menu forAnimate" role="menu">
                                                    <li><a id="vistas-crudCrear"><span class="glyphicon glyphicon-list-alt"></span> Crear</a></li>
                                                    <li><a id="conductor-crudEditar"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                                                    <li><a id="vistas-crudVer"><span class="glyphicon glyphicon-lamp"></span> Ver</a></li>
                                                    <li><a id="vistas-crudEliminar"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></li>
                                                    <li class="divider"></li>
                                                </ul>
                                            </li>


                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Facturación <span class="caret"></span><span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-folder-open"></span></a>
                                                <ul class="dropdown-menu forAnimate" role="menu">
                                                    <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Crear</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-lamp"></span> Ver</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></li>
                                                    <li class="divider"></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <span class="caret"></span><span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-tasks"></span></a>
                                                <ul class="dropdown-menu forAnimate" role="menu">
                                                    <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Crear</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-lamp"></span> Ver</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></li>
                                                    <li class="divider"></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vehículo <span class="caret"></span><span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-bed"></span></a>
                                                <ul class="dropdown-menu forAnimate" role="menu">
                                                    <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Crear</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-lamp"></span> Ver</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></li>
                                                    <li class="divider"></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proveedores <span class="caret"></span><span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-folder-close"></span></a>
                                                <ul class="dropdown-menu forAnimate" role="menu">
                                                    <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Crear</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-lamp"></span> Ver</a></li>
                                                    <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></li>
                                                    <li class="divider"></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            </center>
                        </section>


                        <div id="vistas">
                            <iframe id="vistas-crud">
                            <!-- Aqui Vistas de CRUD -->
                            </iframe>
                        </div>

                        <div id="vistas-crud-crear">
                            <iframe src="../../modulos/conductor-crud/crear.html" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                        <div id="vistas-crud-ver">
                            <iframe src="../../modulos/conductor-crud/ver.html" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                        <div id="vistas-crud-eliminar">
                            <iframe src="../../modulos/conductor-crud/eliminar.html" frameborder="0" allowfullscreen=""></iframe>
                        </div>                
                    </div>
                    
                    
                    <footer class="container-fluid text-center">
                        <p>Teléfono: (4) 2611515 <br> Dirección: 11, Cra. 44 #24, Medellín, Antioquia <br> Correo: informacion@gmail.com</p>
                    </footer>
                    
                    
                    </body>
                  
                    <script src="secretaria.js" charset="utf-8"></script>
                    <link rel="stylesheet" type="text/css" href="secretaria.css">
                    <link rel="stylesheet" type="text/css" href="menu.css">
                    
                    </html>
